@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuBold';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuLight';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuRegular';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu" , Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 13px; } }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

textarea {
  resize: none; }

input, textarea {
  color: #2f3234;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: 100;
  outline: none;
  border: 2px solid transparent; }
  input:focus, textarea:focus {
    overflow: hidden;
    border: 2px solid #f8b43a; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
  .visuallyhidden:hover {
    -webkit-clip-path: inset(0);
    clip-path: inset(0); }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

#content {
  height: 100%;
  min-height: 40.625rem;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  will-change: transform; }

.section {
  background-size: cover;
  height: 100%;
  min-height: 40.625rem;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section.feedback {
    min-height: 100%; }

.container {
  width: 95%;
  max-width: 58.75rem;
  min-height: 40.625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .main__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-family: UbuntuRegular;
  color: #ffffff;
  border: none; }
  .btn.btn--red {
    background-color: #e45028;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 0.75rem 1.25rem; }
    .btn.btn--red:hover {
      background-color: #c13c18;
      cursor: pointer; }
  .btn.btn--grey {
    background-color: #2f3234;
    padding: 0.625rem 0.9375rem;
    opacity: 1; }
    .btn.btn--grey:hover {
      background-color: #171819;
      cursor: pointer;
      opacity: 1; }

.main-title {
  font-family: Gagalin;
  font-size: 72px;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #f9b43b;
  font-weight: 100;
  margin: 0; }
  .main-title--black {
    color: #2f3234; }
  .main-title--white {
    color: #ffffff; }
  @media screen and (max-width: 768px) {
    .main-title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .main-title {
      text-align: center;
      font-size: 3.9375rem; } }

.first {
  background-image: url("../images/bg/first_screen_bg.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .first .main__content {
    padding-bottom: 10%; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.header__left {
  padding: 0.625rem 0 0; }

.header__logo {
  display: block; }

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right; }

.header__nav {
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header__nav {
      display: none; } }

.nav-list {
  width: 100%; }

.nav-list__item {
  white-space: nowrap;
  display: inline-block; }

.nav-list__item-dot::after {
  content: '';
  background-color: #ffffff;
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  display: inline-block;
  margin: 0.3125rem 0;
  vertical-align: middle; }

.nav-list__link {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  padding: 0 0.9375rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-family: UbuntuRegular;
  font-weight: 500; }
  .nav-list__link:hover {
    text-decoration: underline; }

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header__right {
      margin-right: 4rem; } }
  @media screen and (max-width: 480px) {
    .header__right {
      margin-right: 4rem; } }

.offer__left {
  float: left;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .offer__left {
      width: 100%;
      text-align: center;
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    .offer__left {
      width: 70%; } }

.offer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  width: 50%;
  float: left;
  padding-left: 0.625rem; }
  @media screen and (max-width: 768px) {
    .offer__right {
      width: 100%;
      text-align: center; } }

.offer__img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%; }

.title-lifehack {
  font-family: Lifehack;
  color: #ffffff;
  text-transform: none;
  font-size: 4.0625rem;
  display: block;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .title-lifehack {
      padding: 0 10%; } }
  @media screen and (max-width: 480px) {
    .title-lifehack {
      font-size: 3.375rem;
      padding: 0 10%; } }

.page-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.9375rem;
  width: 1.875rem;
  margin-bottom: 1.875rem; }

.best {
  background: url("../images/bg/best_bg.png") center center no-repeat;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .best .section-title {
    margin-bottom: 2rem; }
    @media screen and (max-width: 480px) {
      .best .section-title {
        margin-bottom: 0; } }
  .best .main__content {
    padding-bottom: 3%; }
  @media screen and (max-width: 768px) {
    .best {
      background-image: url("../images/bg/best_bg_ipad.jpg"); } }
  @media screen and (max-width: 480px) {
    .best {
      background-image: url("../images/bg/best_bg_phones.jpg"); } }

.title--black {
  color: #2f3234; }

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .advantage {
      padding-bottom: 20%; } }

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33%;
  padding: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .advantage__item {
      padding: 0.3125rem 10px; } }
  @media screen and (max-width: 480px) {
    .advantage__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%; } }

.advantage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .advantage__content {
      -webkit-box-align: left;
      -ms-flex-align: left;
      align-items: left;
      padding-left: 1.25rem; } }

.advantage__img {
  width: auto;
  height: 5.625rem;
  display: block;
  text-align: center; }

.advantage__icon {
  width: auto;
  height: 95%; }
  @media screen and (max-width: 480px) {
    .advantage__icon {
      width: 80px; } }

.advantage__title {
  color: #2f3234;
  font-family: Lifehack;
  font-weight: 100;
  text-align: center;
  max-width: 13.4375rem;
  line-height: 1.1; }
  @media screen and (max-width: 480px) {
    .advantage__title {
      text-align: left;
      margin-bottom: 5px; } }

.advantage__text {
  color: #696868;
  font-family: UbuntuLight;
  text-align: center;
  max-width: 20.625rem;
  line-height: 1.8;
  font-size: 14px;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .advantage__text {
      text-align: left;
      font-size: 0.875rem; } }

.slider {
  background: #f9b43b;
  background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 54%, #eb8c38 60%, #f8b13b 100%);
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 54%, #eb8c38 60%, #f8b13b 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(54%, #eb8c38), color-stop(60%, #eb8c38), to(#f8b13b));
  background: -o-linear-gradient(top, #f9b43b 0%, #eb8c38 54%, #eb8c38 60%, #f8b13b 100%);
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 54%, #eb8c38 60%, #f8b13b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f8b13b',GradientType=0 ); }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .slider__item {
      padding-top: 1.5rem; } }

.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider__img {
  display: block;
  max-width: 95%;
  height: auto; }
  @media screen and (max-width: 480px) {
    .slider__img {
      max-width: 60%; } }

.slider__right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .slider__right .main-title {
    line-height: 1;
    margin-bottom: 3.125rem; }
    @media screen and (max-width: 480px) {
      .slider__right .main-title {
        font-size: 50px;
        font-size: 3.125rem; } }
  @media screen and (max-width: 768px) {
    .slider__right {
      text-align: center;
      padding: 0 14%; } }
  @media screen and (max-width: 480px) {
    .slider__right {
      padding: 0px 5%; } }

.slider__text {
  color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  margin-bottom: 0.625rem; }

.slider__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 768px) {
    .slider__buy {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-transform: uppercase; }

.slider__price-num, .slider__price-currency {
  font-family: Gagalin;
  color: #e45028; }

.slider__price-num {
  font-size: 72px;
  font-size: 4.5rem; }

.slider__price-currency {
  font-size: 30px;
  font-size: 1.875rem;
  margin-left: 0.625rem; }

.slider__order {
  margin-left: 1.5625rem; }

.slider__calories {
  position: absolute;
  bottom: 0;
  left: 0; }
  @media screen and (max-width: 768px) {
    .slider__calories {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }

.slider__calories_icon {
  width: 4.0625rem;
  height: 4.0625rem;
  fill: #fad29d; }

.slider__calories_number {
  position: absolute;
  top: calc(50% - 15px);
  left: 25%;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Gagalin;
  color: #fad29d; }

.slider__calories__kkal {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Gagalin;
  color: #fad29d;
  text-align: center; }

.consist {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  background-color: rgba(255, 80, 40, 0.4);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .consist:hover {
    background-color: #e45028;
    cursor: pointer; }
    .consist:hover .consist-ingredient {
      opacity: 1;
      left: 100%; }

.consist_icon {
  width: 2.8125rem;
  height: 2.8125rem;
  fill: #ffffff;
  margin-bottom: 0.625rem; }

.consist__title {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Gagalin;
  color: #ffffff;
  text-align: center; }

.slider-chevron__btn {
  position: absolute;
  top: calc(50% - 75px);
  width: 2rem; }
  .slider-chevron__btn--right {
    left: calc(100% + 1rem); }
    @media screen and (max-width: 768px) {
      .slider-chevron__btn--right {
        left: calc(100% - 20px); } }
    .slider-chevron__btn--right svg {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .slider-chevron__btn--left {
    right: calc(100% + 1rem); }
    @media screen and (max-width: 768px) {
      .slider-chevron__btn--left {
        right: calc(100% - 20px); } }
    .slider-chevron__btn--left svg {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

.slider-chevron__svg {
  fill: #ffffff;
  width: 100%;
  height: 100%; }

.consist-ingredient {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 1.25rem 1.25rem;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
  left: -9999999px;
  width: 16.875rem; }
  .consist-ingredient.consist-ingredient--active {
    opacity: 1;
    left: 100%; }
  @media screen and (max-width: 768px) {
    .consist-ingredient {
      width: 18.875rem;
      padding-right: 3rem; } }
  @media screen and (max-width: 480px) {
    .consist-ingredient {
      width: 18.875rem;
      padding-right: 3rem; } }

.consist-ingredient_close {
  position: absolute;
  height: 1.875rem;
  width: 1.25rem;
  top: 5px;
  right: 5px;
  padding: 0.3125rem;
  display: none; }
  .consist-ingredient_close:before {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 3px;
    border-radius: 5px;
    background-color: #eb8262;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .consist-ingredient_close:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 3px;
    border-radius: 5px;
    background-color: #eb8262;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  @media screen and (max-width: 768px) {
    .consist-ingredient_close {
      display: block; } }
  @media screen and (max-width: 480px) {
    .consist-ingredient_close {
      display: block; } }

.ingredients__close_line {
  height: 0.9375rem;
  width: 2px; }
  .ingredients__close_line:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .ingredients__close_line:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.consist-ingredient__list {
  width: 100%; }

.consist-ingredient__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem; }

.ingredient__svg {
  max-width: 2.8125rem;
  max-height: 2.8125rem; }

.ingredient__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1.25rem; }

.ingredient__name, .ingredient__weight {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu; }

.ingredient__name {
  font-weight: 600;
  text-align: left; }

.ingredient__weight {
  text-align: right; }

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.feedback-item {
  width: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .feedback-item {
      width: 50%;
      height: 25%; } }

.feedback-item__content {
  padding: 2.8125rem 1.25rem;
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .feedback-item__content:hover {
    opacity: 1;
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .feedback-item__content {
      text-align: center; } }

.feedback-item__name {
  font-family: Gagalin;
  margin-bottom: 0.9375rem;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .feedback-item__name {
      font-size: 1.5rem; } }

@media screen and (max-width: 480px) {
  .feedback-item__text {
    display: none; } }

.feed-text {
  font-family: UbuntuLight;
  line-height: 1.6;
  padding: 0.625rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff; }

.btn--grey {
  background-color: #2f3234;
  padding: 0.625rem 0.9375rem;
  opacity: 1; }
  .btn--grey:hover {
    background-color: #171819;
    cursor: pointer;
    opacity: 1; }

.team {
  background-image: url("../images/bg/team_bg.png");
  background-position: top;
  background-repeat: no-repeat;
  position: relative; }
  .team .main-title {
    margin-bottom: 2rem; }

.team-container {
  background-color: rgba(49, 52, 54, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  padding: 6% 2% 0 9.5%; }
  @media screen and (max-width: 768px) {
    .team-container {
      left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.team-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-accordeon {
  padding: 0 2rem 0 1.25rem; }

.team-accordeon__item {
  color: #ffffff;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__item .team-accordeon__title {
      font-size: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .team-accordeon__item .team-accordeon__title {
      font-size: 2rem; } }
  .team-accordeon__item.team-accordeon--active .team-accordeon__title {
    color: #f8b43a; }
  .team-accordeon__item.team-accordeon--active .team-accordeon__content {
    height: auto; }
  .team-accordeon__item.team-accordeon--active .team-accordeon__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: calc(50% - 3px); }
    @media screen and (max-width: 768px) {
      .team-accordeon__item.team-accordeon--active .team-accordeon__title:before {
        bottom: calc(50% - 5px); } }
  @media screen and (max-width: 768px) {
    .team-accordeon__item {
      text-align: center;
      font-size: 1.5rem; } }

.team-accordeon__title {
  font-family: Gagalin;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 100;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team-accordeon__title {
      display: inline-block; } }
  .team-accordeon__title:hover {
    color: #f8b43a;
    cursor: pointer; }
  .team-accordeon__title:before {
    content: '';
    position: absolute;
    left: -1.375rem;
    bottom: calc(50% - 9px);
    border: 5px solid transparent;
    border-top: 8px solid #f8b43a; }
    @media screen and (max-width: 768px) {
      .team-accordeon__title:before {
        bottom: calc(50% - 9px); } }

.team-accordeon__content {
  padding-top: 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-accordeon__avatar {
  display: inline-block;
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5625rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.team-accordeon__img {
  width: 100%; }

.team-accordeon__info {
  display: inline-block;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__info {
      padding-left: 5.6rem;
      padding-right: 5.6rem; } }
  @media screen and (max-width: 480px) {
    .team-accordeon__info {
      padding: 0; } }

@media screen and (max-width: 768px) {
  .team-accordeon__post, .team-accordeon__text {
    font-size: 0.875rem;
    padding: 0px 23%; } }

@media screen and (max-width: 480px) {
  .team-accordeon__post, .team-accordeon__text {
    padding: 0px 10%; } }

.team-accordeon__post {
  font-weight: 600;
  margin-bottom: 1rem; }

.menu {
  background-image: url("../images/bg/menu_bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%; }
  .menu .main-title {
    position: absolute;
    top: 14%;
    left: 7%; }

.accordeon-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(49, 52, 54, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.accordeon-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .accordeon-menu__item.accordeon-menu--active .accordeon-menu__title {
    color: #f8b43a; }
  .accordeon-menu__item.accordeon-menu--active .accordeon-menu__text {
    width: auto;
    padding: 8% 6%;
    width: 33.75rem; }
    @media screen and (max-width: 768px) {
      .accordeon-menu__item.accordeon-menu--active .accordeon-menu__text {
        width: auto; } }
  @media screen and (max-width: 480px) {
    .accordeon-menu__item .accordeon-menu__head {
      width: 3.2rem; } }

.accordeon-menu__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4.2rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .accordeon-menu__head:hover {
    cursor: pointer; }
    .accordeon-menu__head:hover .accordeon-menu__title {
      color: #f8b43a; }

.accordeon-menu__title {
  font-family: Gagalin;
  font-weight: 300;
  font-size: 40px;
  font-size: 2.5rem;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  margin-bottom: 100%;
  width: 100%; }

.accordeon-menu--bg {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute; }

.accordeon-menu__text {
  line-height: 1.7;
  width: 0;
  overflow: hidden; }

.accordeon-menu__parag {
  color: #ffffff;
  font-size: 16px;
  font-size: 1rem;
  font-family: Ubuntu;
  font-weight: 100; }

.order {
  background-image: url("../images/bg/order_bg.jpg");
  background-repeat: no-repeat;
  position: relative; }
  .order .main-title {
    margin-bottom: 1rem; }

.form {
  color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__left, .form__right {
  width: 50%;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .form__left, .form__right {
      width: 65%; } }

.form__left {
  float: left;
  margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .form__left {
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__left {
      width: 100%; } }

.form__right {
  margin-left: 0.625rem; }
  @media screen and (max-width: 768px) {
    .form__right {
      margin-left: 0; } }
  .form__right .form__row {
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 480px) {
      .form__right .form__row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  @media screen and (max-width: 480px) {
    .form__right {
      width: 100%; } }

.form__row {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__row--mb30 {
  margin-top: 1.875rem; }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__title {
  margin-bottom: 0.3125rem; }

.form__input {
  background: #ffffff;
  padding: 0.3125rem 0.625rem;
  border-radius: 5px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form__input {
      padding: 0.625rem 0.9375rem; } }

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 1.25rem; }
  .form__label .form__title {
    margin-top: 0.3125rem; }
  .form__label.form__label--radio .form__input-my {
    border-radius: 50%; }
  .form__label.form__label--radio .form__input--select:checked + .form__input-my:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: #e45028; }
  .form__label.form__label--check .form__input--select:checked + .form__input-my:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.9375rem;
    height: 0.9375rem;
    background-image: url("../images/icons/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    fill: #e45028; }

.form__input-my {
  width: 0.9375rem;
  height: 0.9375rem;
  background: #fff;
  position: relative;
  margin-right: 0.625rem; }

.form__input--select {
  position: absolute;
  left: -9999999px; }

.form__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: 100;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .form__clear:hover {
    text-decoration: underline; }

.contact {
  position: relative; }

.footer {
  background: url(../images/bg/footer_content_bg.jpg) center bottom no-repeat;
  background-size: cover;
  padding: 0.625rem 0;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.footer-block {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer-block {
      width: 100%;
      margin-bottom: 10px; } }

.footer__address {
  color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: 100; }
  @media screen and (max-width: 480px) {
    .footer__address {
      font-size: 14px;
      margin-bottom: 10px; } }

.footer__telephone {
  color: #e45028;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-weight: 600;
  position: relative;
  padding-left: 20px; }
  .footer__telephone:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url("../images/icons/phone.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 13px;
    width: 13px; }
  @media screen and (max-width: 480px) {
    .footer__telephone {
      font-size: 14px; } }

.footer-social {
  width: 50%;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .footer-social {
      width: 100%; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .social__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social__item {
  padding: 0 10px; }

.social__icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: #585858;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .social__icon:hover {
    fill: #fff; }

.hamburger-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed; }
  @media screen and (max-width: 768px) {
    .hamburger-menu__btn {
      top: 2.3rem;
      right: 2rem; } }
  @media screen and (max-width: 480px) {
    .hamburger-menu__btn {
      top: 2.5rem;
      right: 1.4rem; } }

.hamburger-menu__icon {
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 8px 0;
  cursor: pointer; }
  .hamburger-menu__icon:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 24px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px; }
  .hamburger-menu__icon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 24px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px; }

.hamburger-menu {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(49, 52, 54, 0.95); }
  .hamburger-menu.hamburger-menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1; }
  .hamburger-menu .hamburger-menu__link {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: UbuntuRegular;
    font-weight: 500; }

.hamburger-btn__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 3.1rem;
  right: 3.5rem; }

.hamburger-menu__close:before {
  content: "";
  position: absolute;
  display: block;
  top: -4px;
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.hamburger-menu__close:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.hamburger-menu__item {
  padding: 10px 15px;
  margin: 10px 0;
  position: relative;
  text-align: center; }
  .hamburger-menu__item:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 50%;
    width: 0.4375rem;
    height: 0.4375rem;
    display: inline-block;
    margin: 0.3125rem 0;
    vertical-align: middle; }
  .hamburger-menu__item:last-child:after {
    width: 0;
    height: 0; }

.blocking {
  overflow: hidden; }

.points {
  position: fixed;
  top: 5rem;
  right: 3rem; }
  @media screen and (max-width: 768px) {
    .points {
      display: none; } }
  @media screen and (max-width: 480px) {
    .points {
      display: none; } }

.points__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.points__item {
  margin-bottom: 5px; }
  .points__item.points__item-active .points__link:after {
    opacity: 1; }

.points__link {
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  position: relative; }
  .points__link:after {
    content: "";
    position: absolute;
    height: 1.0625rem;
    width: 1.0625rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    opacity: 0; }
  .points__link:before {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    top: calc(50% - 2px);
    height: 0.3125rem;
    width: 0.3125rem;
    background-color: #ffffff;
    border-radius: 50%; }

/*# sourceMappingURL=main.css.map */