.best {
    background: url("../images/bg/best_bg.png") center center no-repeat;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .section-title {
        margin-bottom: 2rem;

        @include phones {
            margin-bottom: 0;
        }
    }

    .main__content {
        padding-bottom: 3%;
    }
    
    @include tablets {
        background-image: url("../images/bg/best_bg_ipad.jpg");
    }

    @include phones {
        background-image: url("../images/bg/best_bg_phones.jpg");
    }

}

.title--black {
    color: #2f3234;
}

.advantage {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;

    @include phones {
        padding-bottom: 20%;
    }
}

.advantage__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: rem(5px);

    @include tablets {
        padding: 0.3125rem 10px;
    }

    @include phones {
        flex-direction: row;
        width:100%;
    }
}

.advantage__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
        align-items: left;
        padding-left: rem(20px);
    }
}

.advantage__img {
    width: auto;
    height: rem(90px);
    display: block;
    text-align: center;
}

.advantage__icon {
    width: auto;
    height: 95%;
    @include phones {
        width:80px;
    }
}

.advantage__title {
    color: $dark;
    font-family: Lifehack;
    font-weight: 100;
    text-align: center;
    max-width: rem(215px);
    line-height: 1.1;

    @include phones {
        text-align: left;
        margin-bottom: 5px;
    }
}

.advantage__text {
    color: #696868;
    font-family: UbuntuLight;
    text-align: center;
    max-width: rem(330px);
    line-height: 1.8;
    @include font-size(14px);


    @include phones {
        text-align: left;
        font-size: rem(14px);
    }
}
