.menu {
  background-image: url("../images/bg/menu_bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;
  .main-title {
    position: absolute;
    top: 14%;
    left: 7%;
  }
}

.accordeon-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(49, 52, 54, 0.9);
  display: flex;
}

.accordeon-menu__item {
  display: flex;
  &.accordeon-menu--active{
    .accordeon-menu__title{
      color: $orange;
    }
    .accordeon-menu__text {
      width:auto;
      opacity: 1;
      padding: 8% 6%;
      width: 33.75rem;

      @include tablets {
        width:auto;
      }
    }
  }

  .accordeon-menu__head {
    @include phones {
      width: 3.2rem;
    }
  }

}

.accordeon-menu__head {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 4.2rem;
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &:hover {
    cursor: pointer;
    .accordeon-menu__title{
      color: $orange;
    }
  }
}

.accordeon-menu__title {
  font-family: Gagalin;
  font-weight: 300;
  @include font-size(40px);
  color: $white;
  transform: rotate(-90deg);
  white-space: nowrap;
  margin-bottom: 100%;
  width: 100%;
}

.accordeon-menu--bg {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.accordeon-menu__text {
  line-height: 1.7;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width .5s;
}

.accordeon-menu__parag {
  color: $white;
  @include font-size(16px);
  font-family: Ubuntu;
  font-weight: 100;
}
