.contact {
  position: relative; }

.footer {
  background: url(../img/bg/footer_content_bg.jpg) center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }
